# A computer manufacturing company claims that on an average it will respond to any complaint logged by the customer from anywhere in the world in 24hours. Validate the claim.

In [1]:
import pandas as pa

In [2]:
from scipy import stats as mystats

In [3]:
myData = pa.read_csv('Complaint_Response_Time.csv')

In [4]:
myData

    Response_Time
0              24
1              31
2              29
3              26
4              28
5              26
6              29
7              29
8              27
9              31
10             25
11             29
12             29
13             25
14             26
15             26
16             27
17             24
18             23
19             27
20             28
21             27
22             23
23             27
24             23
25             25
26             27
27             26
28             28
29             27

In [5]:
RT = myData.Response_Time
RT

0     24
1     31
2     29
3     26
4     28
5     26
6     29
7     29
8     27
9     31
10    25
11    29
12    29
13    25
14    26
15    26
16    27
17    24
18    23
19    27
20    28
21    27
22    23
23    27
24    23
25    25
26    27
27    26
28    28
29    27
Name: Response_Time, dtype: int64

In [7]:
mystats.ttest_1samp(RT,24)

Ttest_1sampResult(statistic=6.916649423974787, pvalue=1.3350896696104558e-07)

In [8]:
# We got P Value >0.05. Hence the claim is true